.products-form {
    background-color: transparent !important;
    border: none !important;
}

.card-header {
    text-align: left;
    font: normal normal 600 12px/15px Montserrat;
    letter-spacing: 0px;
    color: #B3C1C8;
    opacity: 1;
}

.listgroup-item {
    text-align: left;
    font: normal normal medium 14px/18px Montserrat;
    letter-spacing: 0px;
    color: #9AACB5;
    text-transform: capitalize;
    opacity: 1;
}

.listgroup-item-checked {
    text-align: left;
    font: normal normal medium 14px/18px Montserrat;
    letter-spacing: 0px;
    color: #219EBC;
    text-transform: capitalize;
    opacity: 1;
}

.topnav {
    text-align: left;
    font: normal normal normal 14px/18px Montserrat;
    letter-spacing: 0px;
    color: #4E6E7E;
    opacity: 1;
}

.topnav-selected {
    text-align: left;
    font: normal normal 600 14px/18px Montserrat;
    letter-spacing: 0px;
    color: #219EBC;
    opacity: 1;
}